body {
  background-color: rgba(94, 93, 93, 0.961);
  margin: 0;
  padding: 5px;
}


* {
  max-width: 1280px;
  width: auto;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}
